body {
    font-family:Arial, Helvetica, sans-serif;
}
div.topnav{
    background-color: #011E57;
}
div.topnav a{
    color:white;
    text-decoration: none;
}
a.topnav-logo{
    background-image: url("./Bilder/Logo.jpg");
    z-index:9;
}

h1.forside-overskrift {
   text-align: center;
    font-size: 100px;
}
h2.forside-underskrift {
    text-align: center;
}

img.forside-logo {
    display: block;
    margin: auto;
    margin-bottom: 8%;
    position: relative;
    transform: translateY(20%);
}

