body {
    font-family:Arial, Helvetica, sans-serif;

}

/* --------------------------------------topnav start--------------------------------------*/

div.topnav{
    background-color: #098BB4;
    padding:15px;
    padding-left:0px;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:0;
    border-radius:10px;
    position:absolute;
    right:5px;
    left:0;
    top:0;
    box-sizing: border-box;
    text-align: center;
}
div.topnav a{
    color:black;
    text-decoration: none;
}
div.topnav-not-logo {
    color:white;
}
div.topnav a:hover{
    color: #F2A4C0;

}
a.topnav-logo{
    background-image: url("./Bilder/Logo.jpg");
    background-size:41px 38.5px;
    padding-right:35px;
    padding-top:2.2mm;
    padding-bottom:2.2mm;
    margin-top:0px;
    margin-right:25px;
    border:0px;
    border-radius: 6px;
    max-width: 40.5px;
}
a.topnav-user {
    background-image: url("./Bilder/userIcon.jpg");
    background-size: 25px 30px;
    max-width: 25px;
    max-height: 30px;
    padding: 6px;
    padding-right: 19px;
}
a.topnav-user:hover {
    background-image:url("./Bilder/pinkUserLogo.jfif");
}
.topnav-not-logo{
    padding-right:20px;
    padding-top:2.7mm;
    padding-bottom:2.7mm;
    padding-left:4px;
    font-size:16px;
}
div.topnav-dropdown {
    display:inline;
}
.topnav-icon {
    display:none;
}
@media screen and (max-width: 800px) {
    .topnav-not-logo {
        font-size:10px;
        padding-right:4px;
        
    }
    a.topnav-logo{
        margin-right:4px;
    }
    div.topnav{
        right:0px;
        border-radius:0px;
    }
    div.topnav-dropdown {
        float:left;
        overflow:hidden;
        position:relative;
        display:inline-block;
    }
    .topnav-dropdown-content {
        display:none;
        position:absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index:1;
    }
    .topnav-dropdown-content a{
        float:none;
        display:block;
    }
    .topnav a:not(:first-child), .dropdown .topnav-dropdown-button {
        display: none;
    }
    .topnav a.topnav-icon, .topnav a.topnav-user {
        display:block;
        position:absolute;
        margin-right:5px;
    }
    .topnav a.topnav-icon {
        float:left;
        top:0px;
        left:5px;
        font-size:27px;
    }
    .topnav a.topnav-user {
        float:right;
        right:4px;
        top:4px;
    }
    .topnav.responsive {
        position:absolute;
        margin-top:0px;
        margin-bottom:0px;
    }
    .topnav.responsive a.topnav-not-logo {
        float:none;
        display:block;
        text-align:left;
        font-size:13px;
    }
    .topnav.responsive .topnav.dropdown{
        display:block;
        width:100%;
        text-align: left;
    }
    .topnav.responsive a.topnav-logo {
        margin-left:calc(50% - 20px);
        width:0px;
        height:17.6px;
        text-align:center;
        display:block;
    
    }
    div.topnav.responsive {
        padding-top:2px;
    }

}

/* --------------------------------------topnav slutt--------------------------------------*/

h1.forside-overskrift {
   text-align: center;
    margin-bottom: 5%;
    font-size: 10vw;
}
@media screen and (max-width: 700px) {
    h1.forside-overskrift{
        margin-top: 70px;
    }
    img.forside-logo{
        width: auto;
        height: 50vw;
    }
    h2.forside-underskrift {
        font-size:small;
    }
    div.forside-tabs{
        flex-direction: column;
    }
    div.tabinnhold{
        width: 100%;
        height: auto;
    }
    div.forside-tabs:hover .tabinnhold {
        display: block; 
        transition: all;
      }

}
h2.forside-underskrift {
    text-align: center;
    margin-top: -4%;
}

img.forside-logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    transform: translateY(20%);
}

div.forside-tabs {
    display: flex;
    align-items: center; 
   justify-content: center;
}
div.tabinnhold img{
    max-width: 100%;
    
}
div.tabinnhold {
    text-align: center;
    border: 1px solid black;
    display: none;
}

div.tabinnhold.active{
    display: block;
    transition: all;
}

@media screen and (min-width: 700px){
div.forside-tabs:hover .tabinnhold{
    display: block;
}
}
/* -------------------------- forside slutt -------------------------- */

/* --------------------------  plagg start  -------------------------- */
div.plagg-kategorier-container {
    display:flex;
    justify-content: center;
}
div.plagg-kategorier {
    width: 200px;
    text-align:center;
    padding:15px;
    border-style:solid;
    border-radius: 10px;
    border-width:0px;
    margin:2px;
    height:250px;
}
div.plagg-kategorier.plagg-1 {
    background-color:#e1c78f;
}
div.plagg-kategorier.plagg-2 {
    background-color:#098BB4;
}
div.plagg-kategorier.plagg-3 {
    background-color:#F2A4C0;
}
details.plagg-details summary {
    list-style:none;
}
div.plagg-kategorier h2 {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: white;
}
div.plagg-kategorier a {
    text-decoration: none;
    color:black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
div.plagg-overskrift {
    text-align: center;
    margin-bottom:20px;
}
img.plagg-overskrift-bilde {
    width:140px;
    height:140px;
    border-style:solid;
    border-width:0px;
    border-radius:20px;
}

@media screen and (max-width:800px) {
    div.plagg-kategorier-container {
        display:block;
        text-align:center;
    }
    div.plagg-kategorier {
        display:inline-block;
        vertical-align: top;
    }
}
/* --------------------------  plagg slutt  -------------------------- */
/* --------------------------  plagg undersider start  -------------------------- */
h1.plagg-undersider-overskrift {
    text-align:center;
}
h2.plagg-undersider-underskrift {
    text-align:center;
}
div.plagg-undersider-container {
    text-align:center;
    justify-content: center;
}
div.plagg-undersider-container-container {
    width:35vw;
    margin-left:30vw;
    text-align:center;
    justify-content: center;
    border-style:solid;
    border-color:#F2A4C0;
}
ul.plagg-undersider-størrelser {
    display:inline-block;
    text-align:left;
}
@media screen and (max-width:800px) {
    div.plagg-undersider-container-container {
        width:50vw;
        margin-left:22vw;
    }
}


/* --------------------------  plagg undersider slutt  -------------------------- */
/* --------------------------  lokasjoner start  -------------------------- */

div.overskrift-lokasjoner{
    text-align: center;
    width: 1fr;
    height: 1fr;
}

div.lokasjoner-steder{
    border: 10px solid #f2a4c0;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    width:45vw;
    margin-bottom:2px;
}
div.lokasjoner-steder img{
    border-radius: 25px;
    width:40vw;
    height:15vw;

}
.flex-boks-steder{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
h2.lokasjoner-underskrift {
    display:inline-block;
}
@media screen and (max-width:800px) {
    div.lokasjoner-steder img{
        width:70vw;
        height:32vw;
    }  
    div.lokasjoner-steder{
        border: 10px solid #f2a4c0;
        padding: 5px;
        width: 80vw;
        height: 80vw;
        text-align: center;
        border-radius: 25px;
    } 
    .flex-boks-steder {
        display:block;
    }
}

/* --------------------------  lokasjoner slutt  -------------------------- */




.Try{
   
    text-align: center;
    width: 500;
    line-height: 4;
    background-color: #fafafa;
    

}
.Try2{
    color: rgb(41, 34, 34);
    text-align: center;
    margin-left: 30px;

}
table{
    font-size: 20px;
    width: 100px;
    height: 20px;
   
   width: 72%;
   padding: 2px;
   border-bottom: 0.4px solid #e7d8d8;

   background-color: #098BB4;
   color: rgb(34, 27, 27);
   line-height: 2;





   

}





.Try3{
    color: black;
    text-align: center;
    margin-left: 30px;
   text-align-last: center;
   
}
.Try4{

    color: black;
    text-align: center;
    margin-left: 30px;
   
}
.Try5{

    color: black;
    text-align: center;
    margin-left: 30px;
  
    text-align-last: center;
    width: senter;
}
.Try6{

    color: black;
    text-align: center;
    margin-left:30px;

}
.medlemskap-registrert {
    margin-left:46%;
}
/* --------------------------  registrering start  -------------------------- */

div.registration-container{
    text-align: center;
}
span.registrering-error {
    color:red;
    display:none;
}
/* --------------------------  registrering slutt  -------------------------- */
/* --------------------------  login start  -------------------------- */

div.login-container{
    text-align: center;
}
span.login-error {
    color:red;
    display:none;
}
.logginn{
    background-color: #f2a4c0;
}
/* --------------------------  login slutt  -------------------------- */
